{% extends 'base.html' %}
{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">
      Создайте короткую ссылку автоматически или предложите свой вариант
    </p>

    <div class="container">
      <div class="row my-3">
        <div class="col-sm"></div>
        <div class="col-sm">
          <form method="post" novalidate>
            {{ form.hidden_tag() }}

            <div class="mb-3">
              {{ form.original.label(class="form-label") }}
              {{ form.original(class="form-control form-control-lg py-2 mb-3", placeholder="Длинная ссылка") }}
              {% if form.original.errors %}
                <p class="text-danger small">{{ form.original.errors[0] }}</p>
              {% endif %}
            </div>

            <div class="mb-3">
              {{ form.short.label(class="form-label") }}
              {{ form.short(class="form-control form-control-lg py-2 mb-3", placeholder="Ваш вариант короткой ссылки") }}
              {% if form.short.errors %}
                <p class="text-danger small">{{ form.short.errors[0] }}</p>
              {% endif %}
            </div>

            {{ form.submit(class="btn btn-primary") }}
          </form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container">
          <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm text-center">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} mt-3">{{ message }}</div>
              {% endfor %}
            </div>
            <div class="col-sm"></div>
          </div>
        </div>
      {% endif %}
    {% endwith %}

    {% if obj %}
      <div class="container">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm text-center">
            <h5>Ваша короткая ссылка:</h5>
            <a href="{{ url_for('redirect_view', short=obj.short, _external=True) }}">
              {{ url_for('redirect_view', short=obj.short, _external=True) }}
            </a>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
    {% endif %}

  </section>
</main>
{% endblock content %}
